<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container">1
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorias
                    </a>
                    <ul class="dropdown-menu">
                        {{!-- <li>
                            <a class="dropdown-item" href="/list">Anime</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/list-categories">Peliculas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Dibujos Animados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Documentales</a>
                        </li> --}}
                        <li>
                            <a class="dropdown-item" href="/list/Anime">Anime</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/list/Peliculas">Películas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/list/Dibujos Animados">Dibujos Animados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/list/Documentales">Documentales</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/list/Series">Series</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/list/Deportes">Deportes</a>
                        </li>
                       
                        {{#each categorias}}
                            <li>
                                <a class="dropdown-item" href="/list/{{ nombre }}">{{ nombre }}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-products">Admin</a>
                </li>

            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
       
            </div>
        </div>


    </nav>
