1


<div class="container p-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card">
                    <h5 class="card-header text-center">EDITAR</h5>
                    <div class="card-body">

                        <form class="row g-3" action="/products-edit/{{producto.id}}" method="POST" class="mt-5">
                            <div class="mb-3">
                                <label for="floatingInput" class="ms-2 mb-21">Nombre</label>                           
                                <input type="text" class="form-control" name="nombre" id="nombre" value="{{producto.nombre}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="floatingInput" class="ms-2 mb-2">Categoria</label>                         
                                <input type="text" class="form-control" name="age" id="age" placeholder="Nombre" value="{{producto.categoria_nombre}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="floatingInput" class="ms-2 mb-2">Descripción</label>  
                                <textarea class="form-control" id="descripcion" name="descripcion" style="height: 100px">{{producto.descripcion}}</textarea>
                            </div>
                          
                            <div class="mb-3 form-check ps-5">
                              <label class="form-check-label" for="exampleCheck1">Activo</label>
                              <input type="checkbox" class="form-check-input" id="exampleCheck1" {{#if producto.activo}}checked{{/if}}>
                            </div>
                            
                            
                            <div class="col-12 text-end">
                                  <a class="btn btn-secondary btn-lg" href="/list-products" role="button">Cancelar</a>                               
                                  <button class="btn btn-primary btn-lg">Registrar</button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



